<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="display-3 mt-5 ml-4 todoAll">Todo Account</h1>
      <p class="lead display-6 ml-4">Here you can see your information, all your todos and you can change them if you want</p>
      <span class="text-muted ml-4">Name: {{user?.firstName}} {{user?.lastName}}</span><br>
      <span class="text-muted ml-4">Username: {{user?.username}}</span><br>
      <span class="text-muted ml-4">Email: {{user?.email}}</span><br>
    </div>
    <div class="col-lg-6 col-12 mt-5">
      <form [formGroup]="accountForm">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label class="lead ml-2">Title</label>
            <input type="text" class="form-control" placeholder="Title" formControlName="title">
          </div>
          <div class="form-group col-lg-4 col-12">
            <label class="lead ml-2">Date</label>
            <input type="date" class="form-control" formControlName="date">
          </div>
          <div class="form-group col-lg-4 col-6">
            <label class="lead ml-2">Color Select</label>
            <select class="form-control" formControlName="color">
              <option value="dark">Black</option>
              <option value="primary">Blue</option>
              <option value="info">Light Blue</option>
              <option value="success">Green</option>
              <option value="danger">Red</option>
              <option value="warning">Yellow</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label class="lead ml-2">Text</label><br>
            <textarea class="form-control" cols="30" rows="10" placeholder="Text text text..." formControlName="text"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isEditable" class="col-12 mt-5">
      <p *ngIf="isEditable" class="h3 ">Old Todo</p>
      <div class="card mb-3 col-md-5 col-lg-4 col-sm-6 col-xl-3 col-12 " [ngClass]="todo.color==null ? 'border-dark' : 'border-'+ todo.color">
        <div class="card-header" [ngClass]="todo.color==null ? 'text-dark' : 'text-'+ todo.color">
          <span class="lead">{{todo.date | date:short}}</span>
        </div>
        <div class="card-body" [ngClass]="todo.color==null ? 'text-dark' : 'text-'+ todo.color">
          <h5 class="card-title">{{todo.title}}</h5>
          <p class="card-text">{{todo.text}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="accountForm" class="col-12 mt-3">
      <p *ngIf="!isEditable" class="h3 ">Preview</p>
      <p *ngIf="isEditable" class="h3 ">New Todo</p>
      <div class="card mb-3 col-md-5 col-lg-4 col-sm-6 col-12 col-xl-3 " [ngClass]="accountForm.value.color==null ? 'border-dark' : 'border-'+ accountForm.value.color">
        <div class="card-header" [ngClass]="accountForm.value.color==null ? 'text-dark' : 'text-'+ accountForm.value.color">
          <span class="lead">{{accountForm.value.date | date:short}}</span>
        </div>
        <div class="card-body" [ngClass]="accountForm.value.color==null ? 'text-dark' : 'text-'+ accountForm.value.color">
          <h5 class="card-title">{{accountForm.value.title}}</h5>
          <p class="card-text">{{accountForm.value.text}}</p>
        </div>
      </div>
      <button (click)="onEdit()" class="btn btn-primary mt-2  mb-2" [disabled]="accountForm.invalid || !isEditable">Edit</button>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row text-center">
    <p class="col-12 mt-5 display-4 ">Your Todos</p>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>
<app-tasks [optionChild]="option" [userChild]="user" [operationChild]="operation" (editTaskEvent)="edit($event)"></app-tasks>

