<app-nav></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 aboveTasks">
      <h1 class="display-3 mt-5 ml-4">Welcome {{user.firstName}},</h1>
      <p class="lead display-6 ml-5">Let's take a look at your tasks for {{option}}.</p>
      <div class="btn-group ml-5" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="option='today'">Today</button>
        <button type="button" class="btn btn-primary" (click)="option='this week'">This Week</button>
        <button type="button" class="btn btn-primary" (click)="option='this month'">This Month</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="lead display-4 text-center">Your tasks for {{option}}</p>
      <hr>
    </div>
  </div>
</div>
<app-tasks [optionChild]="option" [userChild]="user"></app-tasks>